spring:
  datasource:
    url: jdbc:h2:mem:restaurantpickerdb
    driver-class-name: org.h2.Driver
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

springdoc:
  packages-to-scan: com.govtech.restaurantpicker.controller
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false  
